<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <div id="app">
        <ul>
            contactos
            <!--<li v-for="persona in personas" v-if="persona.edad > 20">-->
            <template v-for="persona in personas">
                <li  v-if="persona.edad > 20">                  
                    <p v-for="(value, key) in persona">
                        {{key}}: {{value}}
                    </p>   
                </li>
            </template>
        </ul>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                personas:[
                    {
                        id: 1,
                        nombre: "Juan",
                        telefono: 78987879,
                        edad: 20
                    },
                    {
                        id: 2,
                        nombre: "maria",
                        telefono: 74744876,
                        edad: 15
                    },
                    {
                        id: 3,
                        nombre: "Carlos",
                        telefono: 70834521,
                        edad: 22
                    }
                ]
            }
        });
    </script>    
</body>
</html>